html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.invisible {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/* TYPOGRAPHY */

h1 {
  line-height: 1.15;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  align-self: flex-start;
}

/* h2 {

}

h3 {

} */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.7rem;
  }
}