@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:wght@300;400;500;600&family=Raleway:wght@800;900&display=swap');

.container,
.container_about,
.container_portfolio {
  padding: 2rem;
  display: flex;
  height: 100vh;
  isolation: isolate;
}

.container_about {
  background-color: coral;
}

.container_portfolio {
  background-color: #af7c8e;
}

.inner_container {
  display: block;
  overflow: auto;
  width: 100%;
}

@keyframes background-color {
  0% {
    background-color: coral;
  }

  25% {
    background-color: #ce73df;
  }
  
  50% {
    background-color: #72bec6;
  }

  75% {
    background-color: #ce73df;
  }

  100% {
    background-color: coral;
  }
}

.main,
.main_animated,
.main_portfolio {
  padding: 4rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* #72bec6  */
  background-color: coral;
  position: relative;
  z-index: 1;
}

.main_portfolio {
  background-color: #af7c8e;
}

.main_animated {
  animation-name: background-color;

  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.main_content {
  /* z-index: 100; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.background_video {
  position: absolute;
  object-fit: cover;
  /* filter: contrast(20%) brightness(151%); */
  /* opacity: 30%; */
  z-index: -1;
  mix-blend-mode: exclusion;
}

.container_background_video {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  /* filter: contrast(20%) brightness(151%); */
  opacity: 50%;
  mix-blend-mode: exclusion;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  text-transform: uppercase;
  margin: auto;
  align-self: flex-start;
  font-family: 'Raleway', sans-serif;
}

.title,
.description {
  text-align: center;
}

.subpage_title {
  line-height: 1.15;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  align-self: flex-start;
  margin-left: 6rem;
}

.menu {
  align-self: flex-end;
  padding: 0 4rem;
  text-transform: uppercase;
}

.menu_ul {
  list-style-type: none;
  padding: 0;
}

.menu_ul li {
  line-height: 1.5rem;
}

.menu_item:hover,
.link_back:hover,
.nav_links a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.link_back {
  align-self: flex-end;
  text-transform: uppercase;
  padding: 2rem;
}

.ul_about {
  line-height: 1.5;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.description {
  font-size: 1.3rem;
  font-family: 'Lora', serif;
  margin: 1.5rem 6rem;
  line-height: 1.4;
  text-align: left;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project + .project {
  margin-top: 3rem;
}

.nav_links {
  list-style-type: disclosure-closed;
  line-height: 1.5;
  padding-left: 0;
}

/* .nav_links a:hover {

} */

.portfolio_preview {
  display: flex;
  list-style-type: none;
  margin: 1rem 6rem;
  padding: 0;
  background-color: #3e3e3e;
  mix-blend-mode: soft-light;
  padding: 1rem;
}

.portfolio_card {
  /* mix-blend-mode: soft-light; */
  filter: grayscale();
  /* border: 0.25rem solid black; */
}

.portfolio_card:hover {
  mix-blend-mode: normal;
  filter: none;
  /* border: 0.25rem solid white; */
}

.portfolio_card + .portfolio_card {
  margin-left: 1rem;
}

@media (max-width: 600px) {
  .title {
    text-align: left;
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    width: 50%;
  }

  .menu {
    margin: auto;
    font-size: 1.3rem;
    line-height: 1.7;
  }

  .menu li + li {
    margin-top: 1rem;
  }

  .container {
    padding: 1rem;
  }

  .main {
    padding: 2rem 1rem;
  }

  .subpage_title {
    margin-left: 0;
    font-size: 2rem;
  }

  .description {
    margin: 2rem 0;
    text-align: left;
    font-size: 1.1rem;
  }
}
