.container,
.container_index,
.container_portfolio {
  padding: 2rem;
  display: flex;
  height: 100vh;
  isolation: isolate;
}

.main,
.main_index,
.main_portfolio {
  padding: 4rem 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 100%;
}

.main,
.container {
  /* #72bec6  */
  /* background-color: var(--bg-default); */
  background-color: coral;
}

.main_portfolio,
.container_portfolio {
  /* background-color: var(--bg-portfolio); */
  background-color: #af7c8e;
}

@keyframes background-color {
  0% {
    background-color: coral;
  }

  25% {
    background-color: #ce73df;
  }
  
  50% {
    background-color: #72bec6;
  }

  75% {
    background-color: #ce73df;
  }

  100% {
    background-color: coral;
  }
}

.main_index {
  animation-name: background-color;

  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.container_index {
  background-color: #fff;
}


.page_container {
  display: block;
  overflow: auto;
  width: 100%;
}

.page_background_video {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 50%;
  mix-blend-mode: exclusion;
}

@media (max-width: 600px) {
  .container,
  .container_index,
  .container_portfolio {
    padding: 1rem;
  }

  .main,
  .main_index,
  .main_portfolio {
    padding: 2rem 1rem;
  }
}
